<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gamers!</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">fatcatgaming.co.uk</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h4>Your Games and their categories</h4>
    </div>


    <li th:each="key: ${gcm.keySet()}">
    <span th:text="${key.getName()}"></span> :::
    <span th:text="${gcm.get(key).name()}"></span>
    </li>


    <ul>
        <li th:each="entry: ${gcm}">
            <span th:text="${entry.key.getName()}"></span> = <span th:text="${entry.value}"></span>
        </li>
    </ul>


    <ol>
        <li th:each="game : ${gamer.getAllGames()}" th:text="${game.name}"></li>
    </ol>

    <span>Excited</span>
    <ol>
        <li th:each="game : ${gamer.getExcited()}" th:text="${game.name}"></li>
    </ol>

    <span>Wants</span>

    <ol>
        <li th:each="game : ${gamer.getWants()}" th:text="${game.name}"></li>
    </ol>

    <span>Likes</span>

    <ol>
        <li th:each="game : ${gamer.getLikes()}" th:text="${game.name}"></li>
    </ol>

    <span>No Chance</span>

    <ol>
        <li th:each="game : ${gamer.getLolnope()}" th:text="${game.name}"></li>
    </ol>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>