<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gamers!</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">fatcatgaming.co.uk</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h2>Group Details</h2>
    </div>

    <!--<li th:each="key: ${gcm.keySet()}">-->
    <!--<span th:text="${key.getName()}"></span> :::-->
    <!--<span th:text="${gcm.get(key).name()}"></span>-->
    <!--</li>-->


    <!--<ul>-->
        <!--<li th:each="entry: ${gcm}">-->
            <!--<span th:text="${entry.key.getName()}"></span> = <span th:text="${entry.value}"></span>-->
        <!--</li>-->
    <!--</ul>-->


    <h3>Name: </h3>
    <span th:text="${gaming_group.name}"></span>

    <li th:each="group : ${gaming_groups}">
        <span th:text="${group.name}"></span>
        <a href="gaming_group_details.html" th:href="@{/gaming_group_details{groupid}/ (groupid=${group.id}) }">View Group Details</a>
    </li>


    <h3>All groups and all their members</h3>

    <ul th:each="group : ${gaming_groups}">
        <li th:text="${group.name}"></li>
        <ul th:each="gamer: ${group.allGroupMembers}">
            <li th:text="${gamer.name}"></li>
        </ul>
    </ul>

    <h3>All groups and all their ACTIVE members</h3>


    <ul th:each="group : ${gaming_groups}">
        <li th:text="${group.name}"></li>
        <ul th:each="gamer: ${group.activeGroupMembers}">
            <li th:text="${gamer.name}"></li>
        </ul>
    </ul>


    <h3>All groups and their INACTIVE members</h3>
    <ul th:each="group : ${gaming_groups}">
        <li th:text="${group.name}"></li>
        <ul th:each="gamer: ${group.inactiveGroupMembers}">
            <li th:text="${gamer.name}"></li>
        </ul>
    </ul>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>