<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Some senssible name</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">fatcatgaming.co.uk</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <!--<h1>Game chooser thingymabob</h1>-->
        <h2>
            <div th:if="${message != null}" th:text="'Hello, ' + ${message} + '!' ">I wonder, if variable exists...</div>
        </h2>
    </div>

    <ol>
        <li><a href="welcome.html" th:href="@{/viewGamers}">All registered gamers</a></li>
        <li><a href="welcome.html" th:href="@{/allCategories}">All categories</a></li>
        <li th:each="task : ${tasks}" th:text="${task.getName()}"></li>
    </ol>



</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>