<footer class="footer-section" xmlns:th="http://www.springframework.org/schema/mvc">

<!--<footer class="footer text-center" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">-->
    <!--<p> <a href="#"> Terms of Use</a> | <a href="#">What's New</a> | <a href="#">Help</a> </p>-->
    <!---->
    <!---->

    <div class="container">
        <div class="footer-left-pic">
            <img th:src="@{/img/footer-left-pic.png}" alt="">
        </div>
        <div class="footer-right-pic">
            <img th:src="@{/img/footer-right-pic.png}" alt="">
        </div>
        <a href="#" class="footer-logo">
            <img th:src="@{/img/logo.png}" alt="">
        </a>
        <ul class="main-menu footer-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Games</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <div class="footer-social d-flex justify-content-center">
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
        </div>
        <!--<div class="copyright"><a href="">Colorlib</a> 2018 @ All rights reserved</div>-->
    </div>

    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="js/jquery.slicknav.min.js" th:src="@{/js/jquery.slicknav.min.js}"></script>
    <script src="js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
    <script src="js/jquery.sticky-sidebar.min.js" th:src="@{/js/jquery.sticky-sidebar.min.js}"></script>
    <script src="js/jquery.magnific-popup.min.js"  th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</footer>

